.chiper-list {
  display: flex;
  height: 100%;
  padding: 0 10px;
  background: #000;
  
}

.chiper-list.animate {
animation: 0.3s ease-out 2 reverse flash;
}

@keyframes flash {
from {
background: #000;
}

to {
background: #fff;
}
}
