.input-item {
display: flex;
align-items: center;
font-size: 13px;
margin-bottom: 14px;
height: 39px;
}

.input-item.shrink {
height: 29px;

}

.todo {
background-color: #850000;
color: #fff;
padding: 12px 18px 12px 10px;
width: 100%;
}

.todo.shrink {
width: 227px;
padding: 8px 18px 7px 10px;
height: 100%;

}

.input-item > .order {
background-color: #DB0C0C;
font-family: 'Risque';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
width: 32px;
height: 100%;
max-height: 38px;
}

.todo > input {
padding: 0;
border: none;
height: 15px;
width: 199px;
font-size: 13px;

}

.blur {
filter: blur(1px);
}
